{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}{% endblock %}

{% block body %}

  <div class="row">
    <h2>Welcome to Fam's out, Cam's out!</h2>
  </div>

  <div class="row">
    <p><b>Fam's out, Cam's out!</b> is a super-basic photo repository.  
        If someone from Shopify actually reads this, listen, I wanna work for y'all.  Hire me.  
        I'm delightful.  And I really, really, really miss poutine and ketchup chips. I am 
        telling you, maple syrup runs through my veins.  My grandparents had a maple syrup... farm?
         ...Orchard?  I'm not sure the word.  My mother is famous Canadian author Monique Boisvert. 
         And I'm good at programming.  And I've got tons of dad jokes to share.   
    </p>
  </div>

{% endblock %}

{% block after_body %}{% endblock %}